@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased overflow-hidden;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/[0.03] backdrop-blur-2xl border border-white/10 shadow-2xl;
  }

  .text-glow {
    text-shadow: 0 0 50px rgba(96, 165, 250, 0.5);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.98);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}